<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:webscoket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <context:component-scan base-package="com.boweifeng.cd.seat.controller" />
    <context:component-scan base-package="com.boweifeng.cd.seat.websocket" />

    <mvc:annotation-driven />

    <mvc:resources mapping="/css/**" location="/WEB-INF/css/" />
    <mvc:resources mapping="/js/**" location="/WEB-INF/js/" />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/" />
            <mvc:exclude-mapping path="/user/loginCheck" />
            <mvc:exclude-mapping path="/css/**" />
            <mvc:exclude-mapping path="/js/**" />
            <bean class="com.boweifeng.cd.seat.interceptor.AuthorityInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <webscoket:handlers>
        <webscoket:mapping path="/websocket" handler="seatHandler"/>
    </webscoket:handlers>

    <webscoket:handlers>
        <webscoket:mapping path="/sockjs/websocket" handler="seatHandler" />
        <webscoket:sockjs />
    </webscoket:handlers>
</beans>