<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boweifeng.cd.seat.mapper.SeatMapper">

    <insert id="add" parameterType="list">
        INSERT INTO seatinfo (scontent, srow, scolumn, sklassid, sstatus) VALUES
        <foreach collection="seats" item="seat" separator=",">
            (#{seat.content}, #{seat.row}, #{seat.column}, #{seat.klass.id}, #{seat.status})
        </foreach>
    </insert>


</mapper>