<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boweifeng.cd.seat.mapper.UserMapper">

    <resultMap id="userResultSet" type="User">
        <id property="id" column="uid" />
        <result property="loginId" column="uloginid" />
        <result property="loginPsw" column="uloginpsw" />
        <result property="name" column="uname" />
        <result property="type" column="utype" />
        <result property="status" column="ustatus" />
    </resultMap>

    <sql id="selectAllUsers">
        SELECT uid, uloginid, uloginpsw, uname, utype, ustatus FROM userinfo
    </sql>

    <select id="getAllUsers" resultMap="userResultSet">
        <include refid="selectAllUsers" /> where utype != '管理员' ORDER BY uid DESC
    </select>

    <select id="getUserByLoginId" resultMap="userResultSet">
        <include refid="selectAllUsers" /> where uloginid = #{ loginId }
    </select>

    <select id="getUsersByType" resultMap="userResultSet">
        <include refid="selectAllUsers" /> where utype = #{ type }
    </select>

    <insert id="add">
        insert into userinfo (uloginid, uloginpsw, uname, utype, ustatus)
        values (#{user.loginId}, #{user.loginPsw}, #{user.name}, #{user.type}, #{user.status})
    </insert>

    <update id="update">
      UPDATE userinfo
      <set>
          <if test="user.loginId != null">
            uloginid = #{user.loginId},
          </if>
          <if test="user.loginPsw != null">
            uloginpsw = #{user.loginPsw},
          </if>
          <if test="user.name != null">
            uname = #{user.name},
          </if>
          <if test="user.type != null">
            utype = #{user.type},
          </if>
          <if test="user.status != null">
              ustatus = #{user.status},
          </if>
      </set>
      WHERE uid = #{ user.id }
    </update>

</mapper>